@model List<Rental.Models.RealEstate>
@{
    int? userIdNullable = ViewBag.UserID as int?;
    int userId = userIdNullable ?? 0;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function addToFavorites(code, userId) {
        $.ajax({
            url: '@Url.Action("AddToFavorites", "Property")',
            type: 'POST',
            data: { code: code, userId: userId },
            success: function (data) {
                if (data.success) {
                    alert('Добавлено в избранное');
                } else {
                    alert('Ошибка при добавлении в избранное');
                }
            },
            error: function () {
                alert('Ошибка при добавлении в избранное');
            }
        });
    }
</script>

<div class="title-div">
    <h2>Недвижимость доступная для аренды</h2>
</div>


<div class="estate-container">
    @foreach (var property in Model)
    {
        <div class="product-inner" id="@property.Code">
            <div class="product-wrap">
                <div class="product-info">
                    <h3 class="product-title">@property.Type</h3>
                    <p class="product-title">@property.Address</p>
                    <p class="product-title">@property.Description</p>
                    <p class="price"><strong>Цена:</strong> @Math.Round(property.Price, 0) ₽</p>
                </div>
            </div>
            <div class="actions" align="center">
                <a class="wishlist" onclick="addToFavorites(@property.Code, @userId)"></a>
            </div>
        </div>
    }
</div>

<button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "Home")'">На главную</button>
<button type="button" class="index-btn" onclick="window.location.href='@Url.Action("FavoriteProperties", "Property")'">Избранное</button>

